<!-- footer -->
<footer class="footer">
    <div class="footer-logo-container">
        <span class="logo-text" style="font-size:1rem">TICKETWORLD</span>
        <div class="container">
            <div class="row justify-content-center">
            <!-- Información de Contacto -->
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                <li>Dirección: Calle __________, 123</li>
                <li>Teléfono: +34 123 456 789</li>
                <li>Email: info&#64;ticketworld.com</li>
                </ul>
            </div>
            <!-- Redes Sociales -->
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <ul class="list-unstyled">
                <li><a href="https://www.facebook.com" class="text-dark">Facebook</a></li>
                <li><a href="https://www.instagram.com" class="text-dark">Instagram</a></li>
                <li><a href="https://www.x.com" class="text-dark">X</a></li>
                </ul>
            </div>
            </div>
            <div class="row justify-content-center">
            <div class="col-12 text-center mt-3">
                <p class="text-muted">&copy; 2026 Ticketworld. Todos los derechos reservados.</p>
            </div>
            </div>
        </div>
    </div>
</footer>