<app-header></app-header>

<div class="container">
  <h1>Eventos Destacados</h1>

  <section class="event-section">
    <h2 class="section-title">Conciertos</h2>
    <div class="cards-grid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rosalía</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Lux Tour | 2026</h6>
          <p class="card-text">Barcelona | Palau Sant Jordi</p>
          <a href="#" class="card-link">Compra tus entradas</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">5 Seconds of Summer</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">5 Seconds of Summer | 2026</h6>
          <p class="card-text">Madrid | Palacio Vista Alegre</p>
          <a href="#" class="card-link">Compra tus entradas</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bad Bunny</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">DeBÍ TiRAR MáS FOToS World Tour | 2026</h6>
          <p class="card-text">Madrid | Riyadh Air Metropolitano</p>
          <a href="#" class="card-link">Compra tus entradas</a>
        </div>
      </div>
    </div>
  </section>

  <section class="event-section">
    <h2 class="section-title">Festivales</h2>
    <div class="cards-grid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Primavera Sound</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Barcelona | 2026</h6>
          <p class="card-text">Doja Cat, Bad Gyal, Rojuu, Skrillex entre otros</p>
          <a href="https://www.primaverasound.com/es/barcelona" class="card-link" target="_blank">Más información</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mad Cool</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Madrid | 2026</h6>
          <p class="card-text">Twenty One Pilots, Jennie (Blackpink), Zara Larsson, Charlie Puth entre otros</p>
          <a href="https://madcooltickets.com/" class="card-link" target="_blank">Más información</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Starlite Marbelle</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Marbella | 2026</h6>
          <p class="card-text">Ozuna, Grupo Frontera, Maroon 5, Mora entre otros</p>
          <a href="https://starlitefestival.com/" class="card-link" target="_blank">Más información</a>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>