<div class="register-page">
  <div class="register-left">
    <div class="slogan">
      <p class="slogan-text">
        <span>Sueña,</span> 
        <span>Vive,</span>
        <span>Recuerda</span>
      </p>
    </div>
     <div class="particles">
      <span></span><span></span><span></span>
      <span></span><span></span><span></span>
    </div>
  </div>
  <div class="register-right">
    <div class="register-form">
        <h1>Crear Cuenta</h1>
        <p>Únete a Ticketworld y comienza a disfrutar de tus eventos favoritos</p>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
                <label for="inputLastName" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="inputLastName">
            </div>
            <div class="col-md-6">
                <label for="inputMusicGenre" class="form-label">Género de Música</label>
                <input type="text" class="form-control" id="inputMusicGenre">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Registrarme</button>
            </div>
        </form>
    </div>
  </div>
</div>